
<!-- <h2 style="text-align:center"  style="font-size:20px;" background-image="assets/img2.jpg"> -->
    <mat-toolbar color="primary">
        <mat-toolbar-row>
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <!-- <button mat-menu-item routerLink="first">CUSTOMER INFO</button>
      <button mat-menu-item routerLink="second">SERVICE CARD</button>
      <button mat-menu-item routerLink="third">PRODUCT</button>
      <button mat-menu-item routerLink="create">EMPLOYEE DETAILS</button>
      <button mat-menu-item routerLink="parts">PARTS DETAILS</button>
      <button mat-menu-item routerLink="amc-details">AMC DETAILS</button>
      <button mat-menu-item routerLink="salarydetails">SALARY DETAILS</button> -->

      <!-- <ul> -->
      <li mat-menu-item routerLink="first">CUSTOMER INFO</li>
      <li mat-menu-item routerLink="second">SERVICE CARD</li>
      <li mat-menu-item routerLink="third">PRODUCT</li>
      <li mat-menu-item routerLink="create">EMPLOYEE DETAILS</li>
      <li mat-menu-item routerLink="parts">PARTS DETAILS</li>
      <li mat-menu-item routerLink="amc-details">AMC DETAILS</li>
      <li mat-menu-item routerLink="salarydetails">SALARY DETAILS</li>
    <!-- </ul> -->
 
    </mat-menu>   
</mat-toolbar-row>
</mat-toolbar>
<!-- </h2> -->

<div>       
 <router-outlet></router-outlet>
</div>
  