
<h2 style="text-align:center"  style="font-size:20px;" background-image="assets/img2.jpg">
    <ul class="nav">
      <li class="nav-item">
          <a routerLink="first" routerLinkActive="active">CUSTOMER INFO</a></li>
      <li class="nav-item">
          <a routerLink="second" routerLinkActive="active">SERVICE CARD</a></li>
      <li class="nav-item">
          <a routerLink="third" routerLinkActive="active">PRODUCT</a></li>
          <li class="nav-item">
              <a routerLink="create" routerLinkActive="active">EMPLOYEE DETAILS</a>
          </li>
          <li class="nav-item">
              <a routerLink="parts" routerLinkActive="active">PARTS DETAILS</a>
          </li>
          <li class="nav-item">
            <a routerLink="amc-details" routerLinkActive="active">AMC DETAILS</a>
        </li>
        <li class="nav-item">
            <a routerLink="salarydetails" routerLinkActive="active">SALARY DETAILS</a>
        </li>
        </ul>
      
 
 <router-outlet></router-outlet>
</h2>
  